* {
   position: relative;
}
.cool-bottom-line {
   color: #000;
}
.cool-bottom-line>a {
   text-decoration: none;
   color: #000;
   z-index: 1;
}
.cool-bottom-line>a:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 1px;
   bottom: 0;
   left: 0;
   background: #000;
   visibility: hidden;
   border-radius: 5px;
   transform: scaleX(0);
   transition: .25s linear;
}
.cool-bottom-line>a:hover:before {
   visibility: visible;
   transform: scaleX(1);
}